<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#094ab1" />
    <meta name="description" content="Cloud hosting and web design services for competitive prices" />
    <title>@ViewData["Title"] - RWS Services</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true">

    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" asp-append-version="true">

    <link href="//fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="manifest" href="/manifest.json">
</head>
<body class="skyblue" data-spy="scroll" data-target="#TopNavBar" data-offset="50">
    <div id="Top" class="container siteLogo">
        <a asp-page="/">
            <img src="~/images/RWSServicesLogoTop.png" class="img-fluid" alt="RWS Services">
        </a>
    </div>
    <nav id="TopNavBar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top scrollAnchor">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index"><img src="~/images/RWSServicesLogoNavbar.png" alt="RWS Services"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#Top">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#CloudHosting">Cloud Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#WebDesign">Web Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#Reliability">Reliability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#SpecialistServices">Specialist Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Blogs/Index">Blog</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="body-content lightblue">
        @RenderBody()
        <div class="container-fluid lightblue">
            <div class="container">
                <footer>
                    <p>&copy; 2018-2021 - RWS Services</p>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/ScrollMagic/ScrollMagic.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
</body>
</html>
