<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#094ab1" />
    <meta name="description" content="Cloud hosting and web design services for competitive prices" />
    <title>@ViewData["Title"] - RWS Services</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css" crossorigin="anonymous" />
    </environment>

    <link href="//fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="manifest" href="/manifest.json">
</head>
<body class="skyblue" data-spy="scroll" data-target="#TopNavBar" data-offset="50">
    <div id="Top" class="container siteLogo">
        <a asp-page="/">
            <img src="~/images/RWSServicesLogoTop.png" class="img-fluid" alt="RWS Services">
        </a>
    </div>
    <nav id="TopNavBar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top scrollAnchor">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index"><img src="~/images/RWSServicesLogoNavbar.png" alt="RWS Services"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#Top">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#CloudHosting">Cloud Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#WebDesign">Web Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#Reliability">Reliability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@if(@Context.Request.Path == "/" ) { } else { <text>/</text> }#SpecialistServices">Specialist Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Blogs/Index">Blog</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="body-content lightblue">
        @RenderBody()
        <div class="container-fluid lightblue">
            <div class="container">
                <footer>
                    <p>&copy; 2018-2020 - RWS Services</p>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>

        <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
</body>
</html>
