body {
    position: relative;
}

.siteLogo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.spacer {
    margin-top: 20px;
}

.padder {
    padding-top: 20px;
}

.skyblue {
    background-color: #e1f6ff;
}

.lightblue {
    background-color: #75d6ff;
}

    .lightblue h2 {
        color: #094ab1 !important;
    }

    .lightblue h3 {
        color: #fff !important;
    }

.darkblue {
    background-color: #094ab1;
}

    .darkblue h2 {
        color: #75d6ff !important;
    }

    .darkblue h3 {
        color: #fff !important;
    }

.purple {
    background-color: #B10DC9;
}

.yellow {
    background-color: #FFDC00;
}

.lime {
    background-color: #01FF70;
}

.gray {
    background-color: #AAAAAA;
}

.black {
    background-color: #000;
}

    .black h2 {
        color: #fff !important;
    }

    .black h3 {
        color: #75d6ff !important;
    }

    .black p {
        color: #75d6ff !important;
    }

.body-content {
    background-color: #fff !important;
}

#HomeCarousel {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

    #HomeCarousel .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
    }

.carousel-caption h2 {
    color: #fff !important;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Days One', sans-serif;
    line-height: 2em;
}

#HostingCarousel {
    border: 4px solid #000;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    border-radius: 4px;
}

@media (min-width: 701px) and (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 1.4em !important;
    }
}

@media (max-width: 700px) {
    .carousel-caption h2 {
        font-size: 0.8em !important;
    }
}

.carousel-caption h5 {
    text-shadow: 2px 2px 4px #000;
}

.container h2 {
    color: #094ab1;
    font-family: 'Days One', sans-serif;
}

.container h3 {
    color: #75d6ff;
    margin-bottom: 20px
}

.container > .row .service {
    padding: 0px;
}

.iframeUptime {
    width: 100%;
    height: 1170px;
    border: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .iframeUptime {
        height: 1610px !important;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .iframeUptime {
        height: 1270px !important;
    }
}

.sectionStrip {
    padding-top: 60px;
    padding-bottom: 20px;
}

.sectionStripFirst {
    padding-top: 10px;
    padding-bottom: 20px;
}

.servicesBox a {
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    height: 240px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}

    .servicesBox a:hover {
        background-color: #75d6ff;
    }

.hostingBox {
    border: 2px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

    .hostingBox .container .row {
        height: 340px;
    }

    .hostingBox .container h4 {
        color: #094ab1;
        font-family: 'Days One', sans-serif;
        margin-top: 8px;
        text-shadow: 2px 2px 4px #fff;
    }

    .hostingBox p {
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 2px #000;
    }

    .hostingBox .btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

.navbar {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

    .navbar .navbar-brand > img {
        margin-top: -16px !important;
        margin-bottom: -10px !important;
    }

footer {
    font-weight: bold;
    color: #fff;
}

/*Style for blog*/
.blogItem {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .blogItem h5 {
        font-family: 'Days One', sans-serif;
        color: #094ab1;
        font-size: 1.1em;
        margin-top: 8px;
    }

    .blogItem img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

.ck-editor__editable {
    min-height: 400px;
    width: 100%;
}

/*Stop modals from expanding past screen height*/
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/* Style for Nav Bar - Generated from https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */
.navbar {
    background-color: #75d6ff !important;
}

    .navbar .navbar-brand {
        color: #ffffff !important;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus {
            color: #094ab1 !important;
        }

    .navbar .navbar-text {
        color: #ffffff !important;
    }

        .navbar .navbar-text a {
            color: #75d6ff !important;
        }

            .navbar .navbar-text a:hover,
            .navbar .navbar-text a:focus {
                color: #75d6ff !important;
            }

    .navbar .navbar-nav .nav-link {
        color: #ffffff !important;
        border-radius: .25rem !important;
        margin: 0 0.25em !important;
    }

        .navbar .navbar-nav .nav-link:not(.disabled):hover,
        .navbar .navbar-nav .nav-link:not(.disabled):focus {
            color: #FFFFFF !important;
            background-color: #094ab1; /*Added this*/
        }

    .navbar .navbar-nav .dropdown-menu {
        background-color: #75d6ff !important;
        border-color: #094ab1 !important;
    }

        .navbar .navbar-nav .dropdown-menu .dropdown-item {
            color: #ffffff !important;
        }

            .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
            .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
            .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
                color: #75d6ff !important;
                background-color: #094ab1 !important;
            }

        .navbar .navbar-nav .dropdown-menu .dropdown-divider {
            border-top-color: #094ab1 !important;
        }

    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover,
    .navbar .navbar-nav .nav-item.active .nav-link:focus,
    .navbar .navbar-nav .nav-item.show .nav-link,
    .navbar .navbar-nav .nav-item.show .nav-link:hover,
    .navbar .navbar-nav .nav-item.show .nav-link:focus {
        color: #75d6ff !important;
        background-color: #094ab1 !important;
    }

    /*Added section to fix scrollspy as sets nav-link active not nav-item active*/
    .navbar .navbar-nav .nav-item .active,
    .navbar .navbar-nav .nav-item .active,
    .navbar .navbar-nav .nav-item .active {
        color: #75d6ff !important;
        background-color: #094ab1 !important;
    }

    /*Changed toggle to toggler as is incorrect*/
    .navbar .navbar-toggler {
        border-color: #094ab1 !important;
    }

        .navbar .navbar-toggler:hover,
        .navbar .navbar-toggler:focus {
            background-color: #094ab1 !important;
        }

        .navbar .navbar-toggler .navbar-toggler-icon {
            color: #ffffff !important;
            /*Added*/
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        }

            /*Added*/
            .navbar .navbar-toggler .navbar-toggler-icon:hover,
            .navbar .navbar-toggler .navbar-toggler-icon:focus {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
            }

    .navbar .navbar-collapse, .navbar .navbar-form {
        border-color: #ffffff !important;
    }

    .navbar .navbar-link {
        color: #ffffff !important;
    }

        .navbar .navbar-link:hover {
            color: #75d6ff !important;
        }

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff !important;
    }

        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #75d6ff !important;
        }

        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #75d6ff !important;
            background-color: #094ab1 !important;
        }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff !important;
    }

        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #75d6ff !important;
        }

        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #75d6ff !important;
            background-color: #094ab1 !important;
        }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff !important;
    }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #75d6ff !important;
        }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #75d6ff !important;
            background-color: #094ab1 !important;
        }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff !important;
    }

        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #75d6ff !important;
        }

        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #75d6ff !important;
            background-color: #094ab1 !important;
        }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff !important;
}

    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #75d6ff !important;
    }

    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #75d6ff !important;
        background-color: #094ab1 !important;
    }
